# Jupyter notebook
.ipynb_checkpoints

# Byte-compiled / optimized
__pycache__

# OS generated
.DS_Store

# vim backup files
*~

# Environment
pdm_env

# stuff
archive

# misc
P6_00_préexploratoire.ipynb

